<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href="{{ url_for('static',filename='css/tags_for_insert_post.css') }}">
    <link rel='stylesheet' href="{{ url_for('static',filename='css/base.css') }}">
    <link rel='stylesheet' href="{{ url_for('static',filename='css/register.css') }}">
    <link rel='stylesheet' href="{{ url_for('static',filename='css/profile.css') }}">
    <link rel='stylesheet' href="{{ url_for('static',filename='css/show_posts.css') }}">
    <link rel='stylesheet' href="{{ url_for('static',filename='css/modal-content.css') }}">
    <link rel='stylesheet' href="{{ url_for('static',filename='css/category.css') }}">
    <title> بلاگ </title>

</head>
<body id="body" class="backGround">
<meta id="my-data" data-name="{{ Session.username }}">
<div class="container-fluid ">

    <div class="header-nav row" style="z-index: 10">
        <nav class="navbar navbar-expand-sm navbar-light w-100 ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">


                    <li class="nav-item active">

                        <span class="fa fa-home fa-3x mt-2" id="home" onclick="view_home()"
                              style="cursor: pointer"></span>

                        {#                        <button id="home" onclick="view_home()" class="btn btn-block "#}
                        {#                                style="font-size: 30px !important;"> صفحه اصلی#}
                        {#                        </button>#}
                    </li>

                    <div class="category form-card text-right mr-2">
                        <ul>
                            <li><a id="main-cat_in_nav"><span class="add-category" style="font-size: 16px"></span>
                                دسته بندی
                                ها
                            </a>
                                <ul id="for_category_in_nav">

                                </ul>
                            </li>
                        </ul>
                    </div>


                    <li class="nav-item">
                        <form id="serach-form" action="{{ url_for('blog.search') }}" method="post">
                            <div class="input-group">
                                <input class="search" name="search" id="search" type="text"
                                       placeholder="دنبال چی میگردید؟">
                                <div class="input-group-append">
                                    <button id="submit-search" type="button" class="fa fa-search input-group-text"
                                            style="margin: 15px 0 15px 15px"></button>
                                </div>
                            </div>
                        </form>
                    </li>


                </ul>
            </div>
            <div class="header-register row" style="z-index: 10">
                <div class="register" id="upper_div">
                    <button onclick="loadContent('register')" class="btn" id="signup-button"> ثبت نام</button>
                    <button onclick="loadContent('login')" class="btn"> ورود</button>
                </div>
            </div>


        </nav>
    </div>
    <div class="content row mt-5 d-flex justify-content-center">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer row">

    </div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>
    $(document).ready(function () {
        var username = $('#my-data').data();
        if ((username.name).length !== 0) {
            get_profile(username.name)
        }

    });
</script>

<script>
    function loadContent(page) {
        $.get('{{ url_for('index') }}' + 'blog/' + page, function (response) {
            $('.content').html('')

            if (page !== '') {
                $('.content').html(response)
            }

        })
    }

    view_home();

    view_home()
</script>
<script src="{{ url_for('static', filename='js/show_category_in_nav.js') }}"></script>
</body>
</html>

