<div class="container px-1 pt-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" style="position: static; margin-top: -8%">
            <div class="card" style="background-color: #8ec3eb; position: static">
                <h5 class="text-center mb-4 font-weight-bold"> ویرایش مطلب </h5>
                <form class="form-card" id="edit_post-form"
                      action="{{ url_for('user.edit_post_in_database') }}" method="post">
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3 mb-2">عنوان<span
                                class="text-danger"> </span></label> <input type="text" id="title" name="title"
                                                                            placeholder="{{ selected_post.title }}"/>
                            <label class="form-control-label px-3 mb-2">محتوای
                                پست<span class="text-danger"> </span></label><textarea cols="10" rows="8" type="text" style="color: rgb(109,109,109) !important;"
                                                                                       id="main_text"
{#                                                                                       placeholder="{{ selected_post.main_text }}"#}
                                                                                       name="main_text">{{ selected_post.main_text }}</textarea>
                        </div>
                        {# remove required attribute from tag input#}
                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3 mb-2">برچسب<span
                                class="text-danger"> </span></label>
                            <div class="tag-main_container">
                                <div class="tag-container">

                                    {% if selected_post.tags is not none %}
                                        <meta id="my-tags" data-name="{{ selected_post.tags }}">
                                        {% for tag in selected_post.tags %}
                                            <div class="tag">
                                                <div class="tag-text">
                                                    <span class="material-icons hashtag-icon">tag</span>
                                                    <span>{{ tag }}</span>
                                                </div>
                                                <i class="material-icons" data-item="{{ tag }}">close</i>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <meta id="my-tags" data-name="None">
                                    {% endif %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">#</span>
                                        <input id="tags" type="text" name="tags"
                                               placeholder="پس از ورود هر تگ Enter بزنید"/>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6">
                            <button type="button" class="btn-block btn-primary mt-3" id="edit-btn">ویرایش مطلب</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<meta id="id_of_post" data-name="{{ selected_post._id }}">
<script src="{{ url_for('static', filename='js/tags_for_edit_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/insert_post.js') }}"></script>

<script>
    $('#edit_post-form').submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');
        var formData = new FormData(this);
        formData.append('edit_tags', edit_tags);
        formData.append('_id', $('#id_of_post').data().name)
        console.log(formData)
        console.log(edit_tags)
        $.ajax({
            type: "POST",
            url: url,
            data: formData, // serializes the form's elements.
            success: function () {
                alert("کاربر گرامی پست شما با موفقیت ویرایش شد")
                if (my_data___ === "home") {
                    view_home()
                } else if (my_data___ === "my_posts") {
                    show_my_posts()
                } else if (my_data___ === "posts_by_tag") {
                    select_tag_function(my_data__)
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    $("#edit-btn").click(function () {

        $('#edit_post-form').submit()
    })


</script>