<div class="d-flex justify-content-center">
    <div class="blog-posts d-flex justify-content-start">
        {% for active_post in list_active_posts %}
            <div class="post mr-4" data-toggle="modal" data-target="#id_{{ active_post._id }}" data-backdrop="static"
                 data-keyboard="false">
                <img class="post-img" src="{{ url_for('static', filename='img/posts/' + active_post.image) }}"
                     style="width: 100%;height: 50%">
                <div class="post-content">
                    <div class="mb-n2">
                        <h4 style="color: indigo; font-weight: bold"> {{ active_post.title }}</h4>
                    </div>
                    <div style="text-align: center">
                        <textarea rows="3" cols="40" readonly
                                  style="resize: none; overflow: hidden; text-align: justify; padding-bottom: 1px">{{ active_post.main_text }}</textarea>
                    </div>
                    <div style="text-align: center; margin-bottom: -17px">
                        <p class="date_time text"> نوشته شده توسط <span class="date_time"
                                                                        style="color: #228b40">  {{ active_post.owner }}  </span>
                            در تاریخ {{ active_post.pub_date.strftime("%Y/%m/%d") }}
                            ساعت {{ active_post.pub_date.strftime("%H:%M:%S") }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>





{% for active_post in list_active_posts %}
    <!-- The Modal -->
    <div class="modal fade" id="id_{{ active_post._id }}">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="card " style="margin: 0; padding: 0">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/posts/' + active_post.image) }}"
                         alt="img_post">
                    <div class="buttons d-flex justify-content-center mt-2" >
                        <span class="fa fa-edit fa-3x " style="cursor: pointer"></span>
                        <span class="fa fa-eye-slash fa-3x mx-3" style="cursor: pointer"></span>
                        <span class="fa fa-trash fa-3x" style="cursor: pointer" onclick="console.log('salam')"></span>
                    </div>
                    <div style="margin: 0 15px" class="card-body text-center ">
                        <h2 class="card-title"
                            style="color: indigo; font-weight: bold;margin-top: -5px;margin-bottom: 14px; text-align: right">{{ active_post.title }}</h2>
                        <p class="card-text" style="font-size: 22px;text-align: justify">
                            {{ active_post.main_text }}</p>
                        <p class="date_time text" style="font-size: 16px;margin-bottom: -3px"> نوشته
                            شده توسط <span class="date_time"
                                           style="font-size: 16px;color: #228b40">  {{ active_post.owner }}  </span>
                            در تاریخ {{ active_post.pub_date.strftime("%Y/%m/%d") }}
                            ساعت {{ active_post.pub_date.strftime("%H:%M:%S") }}</p>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-danger w-25" data-dismiss="modal">Close</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
{% endfor %}


