<div class="container px-1 pt-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" style="position: static; margin-top: -8%">
            <div class="card" style="background-color: #8ec3eb; position: static">
                <h5 class="text-center mb-4 font-weight-bold"> ایجاد پست جدید </h5>
                <form enctype="multipart/form-data" class="form-card" id="insert_post-form"
                      action="{{ url_for('blog.create_post') }}" method="post">
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3 mb-2">دسته
                            بندی اصلی<span
                                    class="text-danger"> *</span></label> <input type="text" id="category_name"
                                                                                 name="category_name"
                                                                                 required="required"></div>
                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3 mb-2">زیر
                            دسته
                            <span class="text-danger"> *</span></label> <input type="text" id="parent_category"
                                                                               name="parent_category"></div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6">
                            <button type="button" class="btn-block btn-primary mt-3" id="create-btn">ایجاد کتگوری</button>
                        </div>
                    </div>
                    {% for category in all_categories %}
                        {% if category.parent_id == None %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ category.category_name }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                                    {#                                <a class="dropdown-item" href="#">Something else here</a>#}

                                </div>
                            </div>
                        {% endif %}


                    {% endfor %}

                </form>

            </div>
        </div>
    </div>
</div>