<div class="col-4 d-flex justify-content-center alert" role="alert"
     style="font-size: larger; background-color: #f6d8ac;">
    ایجاد دسته بندی جدید
</div>
<div class="container px-1 pt-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" style="position: static; margin-top: -8%">
            <div class="card" style="background-color: #F7EDE6; position: static">
                <form class="form-card" id="insert-category-form"
                      action="{{ url_for('blog.category_in_database') }}" method="post">
                    <div class="row justify-content-between text-right">

                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3 mb-2">نام
                            دسته
                            بندی <span
                                    class="text-danger"> *</span></label> <input type="text" id="category_name" name="category_name" ></div>
                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3 mb-2">دسته
                            بندی
                            والد

                            </label><div class="input-group">
                            <input class="col-10" type="text" id="parent_category" name="parent_category" disabled>
                            <div class="input-group-prepend col-1">
                                <span id="clear-pat-cat" class="input-group-text text-danger fa fa-close" style="margin: 7.5px 0 7.5px 7.5px; cursor:pointer;"></span>

                            </div>
                        </div>
                            </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6">
                            <button type="button" id="create-btn">ایجاد دسته بندی
                            </button>
                        </div>
                    </div>
                    <div class="category form-card text-right">
                        <ul>
                            <li><a id="main-cat"><span class="add-category" style="font-size: 16px"></span> دسته بندی ها
                            </a>
                                <ul id="for_category">

                                </ul>
                            </li>
                        </ul>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/new_category.js') }}"></script>
<script>
var parent_category_id_by_click
function add_parent_category(parent_category) {
    var id_of_parent=parent_category.id.split('+')[0]
    console.log(parent_category.id.split('+'))
    parent_category_id_by_click=id_of_parent
    $("#parent_category").val(parent_category.id.split('+')[1])

}
    $('#insert-category-form').submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');
        var formData = new FormData(this);
console.log(parent_category_id_by_click)
        if(parent_category_id_by_click){
            formData.append('id_of_par_category', parent_category_id_by_click)
            console.log(parent_category_id_by_click)
        }

        $.ajax({
            type: "POST",
            url: url,
            data: formData, // serializes the form's elements.
            success: function (data) {
                alert(data)
                create_category()
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    $("#create-btn").click(function () {

        $('#insert-category-form').submit()
    })

    $('#clear-pat-cat').click(function (){
        $('#parent_category').val('')
    })
</script>
