<div class="container px-1 pt-5 mx-auto">
    <div class="row d-flex justify-content-center" >
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" style="position: static">
            <div class="card" style="background-color: #8ec3eb; position: static">
                <h5 class="text-center mb-4 font-weight-bold">ثبت نام</h5>
                <form class="form-card" id="register-form"  action="{{ url_for('blog.register') }}" method="post" >
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3 mb-2">نام<span class="text-danger"> *</span></label> <input type="text" id="f_name" name="f_name" required> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3 mb-2">نام خانوادگی<span class="text-danger"> *</span></label> <input type="text" id="l_name" name="l_name" required> </div>
                    </div>
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3 mb-2">ایمیل<span class="text-danger"> *</span></label> <input type="email" id="email" name="email" required> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3 mb-2">شماره موبایل<span class="text-danger"> *</span></label> <input type="text" id="phone" name="phone" required style="direction: ltr"> </div>
                    </div>
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3 mb-2">عکس<span class="text-danger"> *</span></label> <input type="file" class="form-control" id="image" name="image"  required style="background-color: white"> </div>
                    </div>
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3 mb-2">نام کاربری<span class="text-danger"> *</span></label> <input type="text" id="username" name="username" required> </div>
                    </div>
                    <div class="row justify-content-between text-right">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3 mb-2">رمز عبور<span class="text-danger"> *</span></label> <input type="password" id="password" name="password"  required> </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary mt-3" id="add-btn">ثبت نام</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>

{#This is register_content#}