html {
    margin: 0;
}

body {
    direction: rtl;
}

.search{
    width: 450px;
    padding: 5px;
    border-radius: 25px ;
    -moz-border-radius: 25px ;
    -webkit-border-radius: 25px ;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}

.header-register {
    direction: ltr;
}

.register {
    padding: 8px;
}

.register button {
    width: 100px;
    height: 40px;
    font-family: "B Nazanin", sans-serif;
    font-size: 20px;
    color: white;
}

.backGround {
    background-color: #444 !important
}

.form-group {
    width: 12%;
    height: 25%;

}

.input-group {
    min-width: 50px;
    min-height: 25px;
}


#signup-button {
    background-color: #2f2ff5;
    color: white;
    font-family: "B Nazanin", sans-serif;
    font-size: 20px;
}

.register button:focus {
    box-shadow: none;
}

.header-nav {
    position: sticky;
    top: 0;
    margin-top: -2%;
    background-color: #f6d8ac;
    font-family: "B Nazanin", sans-serif;

}

#navbarNav button:focus {
    box-shadow: none;
    background: none;
}

.btn-block:hover {
    font-weight: bold;
    color: black !important;
}





