html {
    margin: 0;
}

body {
    direction: rtl;
    font-family: "B Nazanin", serif;
}

.search {
    width: 300px;
    padding: 5px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: 15px 15px 15px 0;
}

.header-register {
    direction: ltr;
}

.register {
    padding: 8px;
}

.register button {
    width: 100px;
    height: 40px;
    font-family: "B Nazanin", sans-serif;
    font-size: 20px;
    color: white;
}

.backGround {
    background-color: darkslategray !important
}

.form-group {
    width: 12%;
    height: 25%;

}

.input-group {
    min-width: 50px;
    min-height: 25px;
}


.register button:focus {
    box-shadow: none;
}

.header-nav {
    position: sticky;
    top: 0;
    margin-top: -2%;
    background-color: #f6d8ac;
    border-bottom: 3px solid black !important;

}


button:hover {
    font-weight: bold;
    color: white !important;
    background-color: darkslategray;
!important;
}


.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

.alert {
    font-weight: bold;
    border: 3px solid black;
    color: black;
}

label {
    font-weight: bold;
}

button {
    background-color: black;
!important;
    color: white;
!important;
}


#main-cat_in_nav:hover {
    background-color: darkslategray;
    border-radius: 5px;
}

#main-cat:hover {
    background-color: darkslategray;
    border-radius: 5px;
}

#main-cat_in_insert_post:hover {
    background-color: darkslategray;
    border-radius: 5px;
}

h6 {
    font-weight: bold;
}

#user_profile:hover {
    background-color: darkslategray;
}

#user_logout:hover {
    background-color: darkslategray;
}



