.category .dropdown-submenu {
    position: relative;
}

.category .dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}

.category li {
    text-align: center;
    cursor: pointer;
    border: 1px solid black;


}

.category ul {
    padding: 0;
}


.category li:hover {
    margin: 0;
    background-color: #00BCD4;
}

p {
    padding: 5px;

}