*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}



.blog-posts{
  width: min(1520px, 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.post{
  width: calc(32% - 10px);
  overflow: hidden;
  height: 80%;
  margin-bottom: -7%;
  margin-right: 1.6%;
}

.post-img{
  width: 100%;
  height: 70%;
  border-radius: 10px;
  transition: .8s linear;
}

.post-content{
  background-color: #ffffffdd;
  margin: 0 30px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: 0.3s linear;
  height: 200px;
}

.post-content h3{
  font-size: 16px;
  margin-bottom: 10px;
}

.date{
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.post:hover .post-img{
  transform: translateY(20px);
}

.post:hover .post-content{
  transform: translateY(-80px);
}

@media screen and (max-width: 1200px){
  .blog-posts{
    justify-content: center;
  }
  .post{
    width: min(600px, 100%);
  }
}