@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.tag-container{
    overflow: hidden;
    margin: 5px 0px;
    border: 2px solid #ccc;
    padding: 0;
    border-radius: 5px;
    display: block;
}

.tag-container .tag {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 5px;
    align-items: center;
    border-radius: 3px;
    background: #f2f2f2;
}

.tag i {
    color: red;
    cursor: pointer;
    font-size: 16px;
}

.tag-container input{
    width: 100%;
    margin: 5px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 0;
}




